In [1]:
import pymysql,sys,json,csv,os
import seaborn as sns
import collections
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

In [2]:
sns.set_style('white')
sns.despine()
sns.set_context("notebook", font_scale=2.0, rc={"lines.linewidth": 2.5})

In [3]:
conn = pymysql.connect(host='localhost',user='root',passwd='pulsetini', db='nairaland',charset='utf8')
cur = conn.cursor()
cur2 = conn.cursor()

In [4]:
df=pd.read_sql_query('select distinct target from following',conn)

In [5]:
df['target']=df['target'].apply(unicode.lower)

In [6]:
df2=pd.read_sql_query('select distinct userName from users_2013',conn)

In [7]:
print df.shape,df2.shape

(40778, 1) (55147, 1)

In [8]:
outFile=csv.writer(open('USERS_2013.csv','w'),delimiter='\t')

In [14]:
for r in df.iterrows():
#    print r[1].target
    outFile.writerow([r[1].target])

In [15]:
len(set(df.target).union(set(df2.userName)))

115931

In [18]:
len(set(df.target).union(set(df2.userName)))-(87411)

28520

###### Look at new users

In [8]:
df=pd.read_sql_query('select distinct target from following_2013',conn)
print df.shape
df['target']=df['target'].apply(unicode.lower)

(40778, 1)

In [9]:
df2=pd.read_sql_query('select distinct userName from users_2013',conn)
df2['userName']=df2['userName'].apply(unicode.lower)
#df3=pd.read_sql_query('select distinct userName from users_new',conn)
#df3['userName']=df3['userName'].apply(unicode.lower)
print df2.shape
#print df3.shape

(55147, 1)

In [10]:
leftOver=set(df.target.values)
print len(leftOver)

40778

In [11]:
leftOver=leftOver.difference(set(df2.userName.values))

In [12]:
print len(leftOver)

12321

In [13]:
outFile=csv.writer(open('USERS_2013_4.csv','w'),delimiter='\t')

In [14]:
for u in leftOver:
#    print r[1].target
    outFile.writerow([u])
outFile=None

In [15]:
!wc USERS_2013_4.csv

 12321  12321 130607 USERS_2013_4.csv

In [12]:
outFile=None

In [14]:
leftOver

[u'', u'iamchuksagwu', u'nuella780']

In [71]:
for u in list(leftOver)[-1000:-990]:
#    if not os.path.isfile('PROFILES_NEW/'+u):print u
    print u

Tonessco
Project400
Shankboye
AWONEYAN
Purposeciti
Syphax
TheTownPlanner
BRAINZBox
AOmega
Robertbh

###Check After Updating Comments

In [14]:
commentsUsers=pd.read_sql_query('select distinct user from comments3',conn)

In [7]:
usersDf=pd.read_sql_query('select userName from users',conn)

In [8]:
users2013Df=pd.read_sql_query('select userName from users_2013',conn)

In [9]:
usersNewDf=pd.read_sql_query('select userName from users_new',conn)

###Get users in comments, that are missing from user profiles
####commentsUsers-usersDf-users2013Df-usersNewDf

In [15]:
commentsUsers=set(commentsUsers.user.values)

In [16]:
usersDf=set(usersDf.userName.values)
users2013Df=set(users2013Df.userName.values)
usersNewDf=set(usersNewDf.userName.values)

In [25]:
res=commentsUsers.difference(usersDf.union(users2013Df,usersNewDf))

In [26]:
res=list(res)

In [27]:
len(res)

29067

In [28]:
outFile=csv.writer(open('USERS_updated.csv','w'))
for u in res:
    outFile.writerow([u])