In [1]:
from db_connections import *

In [2]:
import pymysql,sys
import seaborn as sns
import pandas as pd
from dateutil import parser
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
sns.set_style("white")
sns.despine()
sns.set_context("notebook", font_scale=2.0, rc={"lines.linewidth": 2.5})

In [6]:
tablesDf=pd.read_sql_query('show tables',conn)

In [21]:
for row in tablesDf.itertuples():
    resDf=pd.read_sql_query('select count(*) from '+row[1],conn)
    print row[1]
    print resDf.values[0][0]
    print '------------'

comments
2991873
------------
comments2
2991873
------------
comments3
3021496
------------
comments_2013
2969082
------------
comments_updated
106791
------------
following
348499
------------
following_2013
157473
------------
following_new
170236
------------
post_topics
233129
------------
post_topics_2013
225846
------------
posts
0
------------
posts2
224764
------------
posts3
224771
------------
posts_2013
220168
------------
test
1
------------
users
87447
------------
users_2013
0
------------
users_new
47488
------------