In [1]:
import pymysql,sys
import pandas as pd

In [2]:
conn = pymysql.connect(host='localhost',user='root',passwd='pulsetini', db='nairaland',charset='utf8')
cur = conn.cursor()

In [64]:
df=pd.read_csv('2013/post_topics.tsv',sep=',',header=False,skiprows=None)

In [65]:
df.shape

(225846, 2)

In [66]:
df.head()

    parent                      topic
0  1532776     Phone/Internet Market
1  1355577   Fashion/Clothing Market
2  1365231                 Computers
3  1379035                   Adverts
4  1529439                     Autos

In [67]:
df.topic=df.topic.apply(str.strip)

In [68]:
df.parent=df.parent.apply(str)

In [69]:
data=map(','.join,df.values)

In [45]:
?cur.executemany

In [70]:
df.values[0:3]

array([['1532776', 'Phone/Internet Market'],
       ['1355577', 'Fashion/Clothing Market'],
       ['1365231', 'Computers']], dtype=object)

In [71]:
%time df.to_sql(con=conn,name='post_topics_2013',flavor='mysql',if_exists='replace')

CPU times: user 3.38 s, sys: 0 ns, total: 3.38 s
Wall time: 4.79 s

###Look at Thread Length by Topic

In [3]:
topics=pd.read_sql_query('select topic from posts_2013',conn)

In [7]:
topics=list(topics.topic.values)

In [10]:
res=[]
for t in topics:
    df=pd.read_sql_query('select nComments from posts_2013 where topic="'+t+'"',conn)
    res.append(df['nComments'].values)
    break

In [19]:
max(res[0])

0